.popupBackground {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
.popupBackgroundArticle {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.5);
}
    
.popup_news {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    text-align: center;
    color: rgb(66, 66, 66);
    font-size: 10px;
    background-color: #ffdfa3;
    border-radius: 30px;
    z-index: 1;
}
.active {
    display: flex !important;
}

.popup_news label {
    margin-bottom: 20px;
}

.popup_news div {
    font-size: 20px;
    padding : 5px;
    padding-bottom: 15px;
}

/* Eléments de formulaire */
.popup_news input {
    margin-bottom: 10px;
}

.popup_news button {
    margin: 5px;
}



/*@media screen and (max-width: 1200px) {
    main {
        width: 60%;
        padding: 30px;
    }
}*/


/* En dessous de 800 px */
/*@media screen and (max-width: 800px) {
    main {
        width: 90%;
        padding: 10px;
    }
}*/

.popup_article {
    background-color: antiquewhite;
    padding: 4em;
    border-radius: 20px;
    margin: 5em;
}
